.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.secondary-bg {
  background-color: #d9d9d9;
}
.secondary-text {
  color: #4e47ff;
}

.section-title {
  text-align: center;
  font-size: 40px;
  color: #252432;
  font-weight: bold;
}

.section-description {
  font-size: 15px;
  color: #a1a1a3;
}

.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 36px;
  border-radius: 10px;
}

.header {
  background-image: url(../Assets/Hero-bg.png);
  width: 100%;
  height: 650px;
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px 120px;
}

.nav-title {
  font-weight: 1000;
  font-size: 34px;
}

/* banner styles */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 152px;
  padding: 0 25px;
}

.banner-content {
  max-width: 900px;
  margin-left: 10px;
}

.banner-greetings {
  font-size: 60px;
  font-weight: bold;
  color: #252432;
  text-align: center;
}

/* main styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* preview styles */

.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 116px;
}

.see-action {
  max-width: 320px;
}

.wc-mini {
  width: 350px;
  height: 250px;
  border-radius: 48px;
}

/* user section styles */
.user-details {
  padding: 15px 180px;
  background-color: hsl(279, 100%, 95%);
  margin-top: 116px;
  border-radius: 10px;
}

.user-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-numbers h3 {
  font-size: 50px;
}

/* user feedback styles */
.user-feedback {
  border-radius: 10px;
}

.feedback-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;

}

.feedback {
  border-radius: 10px;
  padding: 10px;
  /* margin-inline: 10px; */
  box-shadow: 0 1px 10px rgb(0, 0, 0, 0.1);
}

.f-user {
    display: flex;
    align-items: center;
    
}

.f-user img {
    border-radius: 50%;
    margin-right: 15px;
}

/* let's get in touch section */
.get-in-touch{
   display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 115px 50px;
}
.input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

/* footer styles */
footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 50px;
}
footer h1{
  font-size: 100px;
  color: #4e47ff;
}

footer ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer ul li {
  margin: 0 20px;
}

footer ul li a{
  text-decoration: none;
  color: #252432;
}


button:hover {
  background-color: bisque;
  color: #252432;
  cursor: pointer;
}